<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dashboardstyle.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
</head>
<body>
    <div class="dashboard-container">
        <h2>Dashboard</h2>
        <div class="chart-row">
            <div class="chart-container">
                <canvas id="temperatureChart"></canvas>
                <p class="value-display" id="temperatureValue">Temperatura: -- °C</p>
            </div>
            <div class="chart-container">
                <canvas id="voltageChart"></canvas>
                <p class="value-display" id="voltageValue">Voltagem: -- V</p>
            </div>
            <div class="chart-container">
                <canvas id="currentChart"></canvas>
                <p class="value-display" id="currentValue">Corrente: -- A</p>
            </div>
        </div>
        <div class="chart-row">
            <div class="chart-container">
                <canvas id="pressureChart"></canvas>
                <p class="value-display" id="pressureValue">Pressão: -- hPa</p>
            </div>
            <div class="chart-container">
                <canvas id="humidityChart"></canvas>
                <p class="value-display" id="humidityValue">Umidade: -- %</p>
            </div>
        </div>
        <div>
            <p class="value-display">Consumo Diário Total: <span id="dailyTotal">-- kWh</span></p>
            <p class="value-display">Média Diária de Consumo: <span id="dailyAvg">-- V, -- A</span></p>
            <p class="value-display">Consumo Mensal Total: <span id="monthlyTotal">-- kWh</span></p>
            <p class="value-display">Média Mensal de Consumo: <span id="monthlyAvg">-- V, -- A</span></p>
            <p class="value-display">Status do Consumo: <span id="anomaliesStatus">--</span></p>
        </div>
        <button onclick="window.location.href='/consumption'">Ver Consumo Detalhado</button>
    </div>
    <script src="/static/dash.js"></script>
</body>
</html>
