body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px; /* Tamanho máximo ajustado */
    width: 100%;
    overflow-x: auto; /* Rolagem horizontal */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto; /* Adiciona rolagem horizontal */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed; /* Garante que a tabela ocupe a largura total */
}

thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 20px;
    text-align: left;
    word-wrap: break-word; /* Permite quebra de linha para texto longo */
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

button{
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

.value-display {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}
