body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.chart-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.chart-container {
    width: 300px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border: 2px solid #333;
}

canvas {
    width: 100% !important;
    height: 150px !important;
    margin: 0 auto;
}

.value-display {
    text-align: center;
    font-size: 12px;
    color: #555;
}

/* Adiciona espaço entre as células onde os dados serão inseridos */
.table-wrapper {
    width: 100%;
    overflow-x: auto; /* Adiciona rolagem horizontal */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

.value-display {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}